.c-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: rem($c-header-height);
  background-color: black;
  color: white;

  &__container {
    height: 100%;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__heading {
    font-size: rem(24);
    font-weight: 700;
  }

  &__link {
    font-size: rem(14);
    text-transform: uppercase;
    font-weight: 700;
    padding-left: rem(10);
    padding-right: rem(10);

    &:last-child {
      padding-right: 0;
    }
  }

}
