.c-modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: $z-moon;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color-primary, .9);
  transition: opacity .3s, visibility .3s;
  display: flex;
  justify-content: center;
  align-items: center;

  &--opened {
    opacity: 1;
    visibility: visible;
  }

  &__button {

  }

  &__content {
    background-color: white;
    padding: rem(25);
    box-shadow: 0 0 rem(15) 0 rgba(black, .25);
    max-height: 80%;
    overflow-y: auto;
    @include bp(sm){
      padding: rem(30) rem(45);
    }
  }
}
